body {
    background-color: #489;
}

.rating {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.item {
    background-color: #485;
    width: 10px;
    height: 50px;
    cursor: pointer;
}

.item-full {
    background-color: #445;
}